$primary-color: #1CB5E0;
$white: #FFF;
$black: #000;
$orange-peel: #FF9C00;
$silver-sand: #C0C1C3;
$amaranth: #E5214A;
$transition-duration: 330ms;
$transition-function: cubic-bezier(0.17, 0.01, 0.19, 0.99);
