@import "../../styles/variables";

.movie-card {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: transform $transition-duration $transition-function;
  width: 100%;

  &:is(:hover,:focus) {
    transform: scale(1.03);

    .movie-card__actions,
    .movie-card__info_panel {
      transform: translateY(0);
    }
  }

  &__poster {
    height: auto;
    width: 100%;
  }

  &__title {
    align-items: center;
    background-color: rgba($black, 0.9);
    color: $white;
    display: flex;
    justify-content: center;
    flex: 1;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    padding: 1rem;
  }

  &__info_panel {
    background-color: rgba($black, 0.8);
    color: $white;
    bottom: 0;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    height: 50%;
    left: 0;
    padding: 1rem;
    position: absolute;
    right: 0;
    text-align: center;
    transform: translateY(100%);
    transition: transform $transition-duration $transition-function;
  }

  &__info_description {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 0.5rem;
  }

  &__info_year {
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    position: absolute;
    right: 1rem;
    transform: translateY(-200%);
    transition: transform $transition-duration $transition-function;
    top: 1rem;
  }

  .btn-icon {
    background-color: $silver-sand;
    border: none;
    color: $white;
    font-size: 1.25rem;
    line-height: 0;
    padding: 0.5rem;

    &.active {
      box-shadow: inset 1px 2px 3px rgba($black, .3), inset -1px -2px 3px rgba($black, .3);
      transform: scale(0.9);
    }
  }

  .btn-watch-later {
    &:hover,
    &.active {
      background-color: $amaranth;
    }
  }

  .btn-star {
    &.active,
    &:hover {
      background-color: $orange-peel;
    }
  }
}

