@import "./styles/variables";

#root {
  background: linear-gradient(0deg, $primary-color 20%, #050b45 100%) no-repeat;
  min-height: 100vh;  
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  padding: 3rem 1rem 1rem;
}
